<l:settingsGroup title="Deployment Credentials">
    <tr>
        <th><label for="jetbrains.buildServer.sshexec.authMethod">Authentication method:</label></th>
        <td><props:selectProperty name="<%=SSHRunnerConstants.PARAM_AUTH_METHOD%>" onchange="sshSelectAuth()">
                <props:option value="DEFAULT_KEY">Default private key</props:option>
                <props:option value="PRIVATE_KEY">Custom private key</props:option>
                <props:option value="PWD">Password</props:option>
            </props:selectProperty>
            <span id='defaultKeyNote' class="smallNote">Uses mapping from ~/.ssh/config if exists</span>
        </td>
    </tr>
    <tr id='user_row'>
        <th><label for="jetbrains.buildServer.deployer.username">Username:  <l:star/></label></th>
        <td><props:textProperty name="<%=DeployerRunnerConstants.PARAM_USERNAME%>"  className="longField" maxlength="256"/>
            <span class="smallNote">Enter username</span><span class="error" id="error_jetbrains.buildServer.deployer.username"></span>
        </td>
    </tr>
    <tr id='password_row'>
        <th><label id='password_label' for="secure:jetbrains.buildServer.deployer.password">Password</label><label id='passphrase_label' for="jetbrains.buildServer.deployer.password">Passphrase</label></th>
        <td><props:passwordProperty name="<%=DeployerRunnerConstants.PARAM_PASSWORD%>"  className="longField" maxlength="256"/>
        </td>
    </tr>
    <tr id='key_row'>
        <th><label for="jetbrains.buildServer.sshexec.keyFile">Path to key file:</label></th>
        <td><props:textProperty name="<%=SSHRunnerConstants.PARAM_KEYFILE%>"  className="longField" maxlength="256"/>
            <span class="smallNote">Enter to path key file (optional)</span>
        </td>
    </tr>
</l:settingsGroup>
<script type="text/javascript">
    window.sshSelectAuth = function () {
        var selector = $('<%=SSHRunnerConstants.PARAM_AUTH_METHOD%>');
        switch (selector.value) {
            case 'DEFAULT_KEY':
                BS.Util.show('defaultKeyNote')
                BS.Util.hide('password_row', 'key_row', 'user_row');
                break;
            case 'PRIVATE_KEY':
                BS.Util.show('password_row', 'passphrase_label', 'key_row', 'user_row');
                BS.Util.hide('password_label', 'defaultKeyNote');
                break;
            case 'PWD':
                BS.Util.show('password_row', 'password_label', 'user_row');
                BS.Util.hide('key_row', 'passphrase_label', 'defaultKeyNote');
                break;
            default:
                alert("Unknown authentication method " + selector.value);
        }
        BS.VisibilityHandlers.updateVisibility($('runnerParams'))
    }
    sshSelectAuth();
</script>